body {
  margin: 0;
  direction: rtl;
}

html {
  background: linear-gradient(315deg, lavenderblush 0%, #eed4fa 85%);
  background-size: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    background: linear-gradient(to right, #ecfdff, #e0ecff);
  }

  p {
    margin: 0px;
  }
}
